@import "tailwindcss";

:root {
  --background: #0B1026;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* Utilities */
@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
      display: none;
  }
  .scrollbar-hide {
      -ms-overflow-style: none;
      scrollbar-width: none;
  }
}
